{% extends "layout_admin.html" %}
{% block content %}
<script src="https://www.w3schools.com/lib/w3.js"></script>
<h1>Articles</h1>
<div class="container row justify-content-center" style="margin: 0 auto;">
    <img class="row" src="{{ image_file }}">

    <div class="table-responsive-sm mt-5">
        <h2 class="text-center mb-4">Article Table</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" onclick="w3.sortHTML('.table','.item', 'td:nth-child(1)')">id</th>
                    <th scope="col" onclick="w3.sortHTML('.table','.item', 'td:nth-child(2)')">title</th>
                    <th scope="col" onclick="w3.sortHTML('.table','.item', 'td:nth-child(3)')">date and time</th>
                    <th scope="col" onclick="w3.sortHTML('.table','.item', 'td:nth-child(4)')">category</th>
                    <th scope="col" onclick="w3.sortHTML('.table','.item', 'td:nth-child(5)')">delete</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr class="item">
                    <td>{{ post.id }}</td>
                    <td><a href="{{ url_for('article', post_id = post.id) }}">{{ post.title }}</a></td>
                    <td>{{ post.date_posted }}</td>
                    <td>{{ post.category }}</td>
                    <td><a href="{{ url_for('delete_article', post_id = post.id) }}"><button type='button' class="btn btn-danger btn-sm m-1">Delete</button></a></td>
                            
                    
                </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>

</div>


{% endblock content%}