{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row" style="justify-content: center;">
        <h1 style="flex: 1">Latest</h1>

        {% if latest %}
        <!-- latest -->
        <a class="card w-100 row mt-3" style="max-height: 40vh;" href="{{ url_for('article', post_id = latest.id) }}">

            <div class="row">

                <img src="{{ image_file }}{{ latest.cover_image }}"
                    style="height: 40vh;" class="card-img-top col" alt="...">
                <div class="col" style="overflow: hidden;">
                    <div class="card-body col pb-0">
                        <div class="row-md d-flex justify-content-between align-items-center mb-2 mt-1">
                            <small class="col-md4 px-2 text-white text-light text-center"
                                style="font-size: 1rem ;border-radius: 5px; color: white; background:#1266F1;">{{
                                latest.author.username }}</small>
                            <small class="col-md4 px-2 text-white text-light text-center"
                                style="font-size: 1rem ;border-radius: 5px; color: white; background:#262626;">{{
                                latest.date_posted.strftime('%d-%m-%Y | %H:%M') }}</small>
                        </div>
                        <hr>
                        <h5 class="card-title"><b>{{ latest.title }}</b></h5>
                        <p class="card-text article-content mt-4" style="color: black;">{{ latest.description }}...</p>
                    </div>
                </div>
            </div>
        </a>
        <!-- end latest  -->
        {% endif %}

        <!-- 3 later post  -->
        {% for post in posts %}
        <div class="col-md-4 col-sm-6 mt-4">
            <a class="card h-100" href="{{ url_for('article', post_id = post.id) }}">
                <img src="{{ image_file }}{{ post.cover_image }}"
                    class="card-img-top" alt="..." width="300" height="200">
                <div class="card-body">
                    <div class="row-md d-flex justify-content-between align-items-center mb-2 mt-1">
                        <small class="col-md4 px-2 text-white text-light text-center"
                            style="font-size: 1rem ;border-radius: 5px; color: white; background:#1266F1;">{{
                            post.author.username }}</small>
                        <small class="col-md4 px-2 text-white text-light text-center"
                            style="font-size: 1rem ;border-radius: 5px; color: white; background:#262626;">{{
                            post.date_posted.strftime('%d-%m-%Y | %H:%M') }}</small>
                    </div>
                    <hr>
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text" style="color: black;">{{ post.description }}...</p>
                </div>
            </a>
        </div>
        {% endfor %}
        <!-- end 3 later posts -->
    </div>
        <!-- Categories post -->
        {% for i in range(0, len) %}
            {% if article_by_categories[i] %}
                <h1 class="mt-5">{{ categories[i] }}</h1>
                <br>
                <div class = 'row'>
                    {% for j in range(article_by_categories[i]|length) %}
                        {% set post = article_by_categories[i][j] %}
                        {% if j < 3 %} 
                        <div class="col-md-4 col-sm-6 mt-4">
                            <a class="card h-100" href="{{ url_for('article', post_id = post.id) }}">
                                <img src="{{ image_file }}{{ post.cover_image }}"
                                    class="card-img-top" alt="..." width="300" height="200">
                                <div class="card-body">
                                    <div class="row-md d-flex justify-content-between align-items-center mb-2 mt-1">
                                        <small class="col-md4 px-2 text-white text-light text-center"
                                            style="font-size: 1rem ;border-radius: 5px; color: white; background:#1266F1;">{{
                                            post.author.username }}</small>
                                        <small class="col-md4 px-2 text-white text-light text-center"
                                            style="font-size: 1rem ;border-radius: 5px; color: white; background:#262626;">{{
                                            post.date_posted.strftime('%d-%m-%Y | %H:%M') }}</small>
                                    </div>
                                    <hr>
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text" style="color: black;">{{ post.description }}...</p>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %} 
                </div>
            {% endif %}
        {% endfor %} 
</div>

    <style type="text/css">
        a {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transform: scale(1);
            transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        a:hover {
            text-decoration: none;
            transform: scale(1.02);
            transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        .nav-link:hover {
            background: #262626;
        }

        .card-text {
            /* white-space: nowrap; */
            /* width: 100%; */

            display: block;
            /* or inline-block */
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 5.4em;
            line-height: 1.8em;
        }

        .row #center {
            justify-content: center !important;
        }
    </style>

    {% endblock content%}