<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- overide CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  {% if title %}
  <title>News Website - {{ title }}</title>
  {% else %}
  <title>News Website</title>
  {% endif %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background: #1266F1;">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">News Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
          <div class="navbar-nav mr-5">
            <a class="nav-item nav-link text-white" href="{{ url_for('home') }}">Home</a>
            <a class="nav-item nav-link text-white" href="{{ url_for('about') }}">About</a>
          </div>


          <!-- Navbar Right Side -->
          <div class="navbar-nav">

            <!-- Search bar  -->
            <form class="form-inline mr-4 my-lg-0" }" id="search-nav">
              <a href="{{ url_for('search') }}">
                <button type='button' class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
              </a>
            </form>

            <!-- if current user is logged in -->
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link text-white" href="{{ url_for('account') }}">Account</a>
            <a class="nav-item nav-link text-white" href="{{ url_for('logout') }}">Logout</a>

            <!-- check if user is Viewer -->
            {% if current_user.type_user == 0 %}
            <a class="nav-item nav-link text-white" href="">Type: Viewer</a>
            {% else %}

            <a class="nav-item nav-link text-white" href="/article/new">New article</a>
            <a class="nav-item nav-link text-white" href="">Type: Reporter</a>
            {% endif %}

            {% else%}
            <a class="nav-item nav-link text-white" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link text-white" href="{{ url_for('register') }}">Register</a>
            {% endif %}

          </div>
        </div>
      </div>
      <!-- end container -->
    </nav>
    <!-- end nav  -->

    <ul class="list-group list-group-horizontal-sm fflex-fill justify-content-around" style="flex-direction: row;">
      <a href=" {{ url_for('category', cat = 'Stars') }}" class="list-group-item">Stars</a>
      <a href=" {{ url_for('category', cat = 'TV Shows') }}" class="list-group-item">TV Shows</a>
      <a href=" {{ url_for('category', cat = 'Music') }}" class="list-group-item">Music</a>
      <a href=" {{ url_for('category', cat = 'Sport') }}" class="list-group-item">Sport</a>
      <a href=" {{ url_for('category', cat = 'Fashion') }}" class="list-group-item">Fashion</a>
      <a href=" {{ url_for('category', cat = 'Travel') }}" class="list-group-item">Travel</a>
      <a href=" {{ url_for('category', cat = 'Life') }}" class="list-group-item">Life</a>
    </ul>

    <style>
      .list-group {
        width: 80%;
        margin: -.5em auto 3em auto;
      }

      .list-group-item {
        width: 100%;
        text-align: center;
        background: white;
        color: black;
        transition: 0s ease-in-out;
      }

      .list-group-item:hover {
        background: #262626;
        color: white;
        transition: 0s ease-in-out;
      }

      #search-bar {
        border-radius: 3px;
        padding: 3px 20px;

      }
    </style>


  </header>
  <main role="main" class="container">
    <div class="col-md">
      <!-- <div class="col-md-8 align-middle"> -->
      {% with messages = get_flashed_messages(with_categories= true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class='alert alert-{{ category }}'>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <!-- contents go here -->
      {% block content %}{% endblock %}
      <!--  -->

      <!-- </div> -->
      <!-- <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div> -->
    </div>
  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>