{% extends "layout_log_sign.html" %}
{% block content %}
    <div class = 'content-section' style="margin-bottom: 0;">
        <form method = 'POST' action = "">
            <!-- add token -->
            {{ form.hidden_tag() }}

            <fieldset class = 'form-group'>
                <legend class = 'border-bottom mb-4'>Join Today</legend>
                <div class = 'form_group' style="margin: 0 0 1.1rem 0">

                    <!-- username -->
                    {{ form.username.label(class = 'form-control-label') }}

                    {% if form.username.errors %}
                        {{ form.username(class = 'form-control is-invalid') }}
                        <div class = 'invalid-feedback'>
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class = 'form-control') }}
                    {% endif %}
                </div>

                <!-- email -->
                <div class = 'form_group' style="margin: 1.1rem 0">
                    {{ form.email.label(class = 'form-control-label') }}

                    {% if form.email.errors %}
                    {{ form.email(class = 'form-control is-invalid') }}
                        <div class = 'invalid-feedback'>
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class = 'form-control') }}
                    {% endif %}

                </div>

                <!-- date of birth -->
                <div class = 'form_group' style="margin: 1.1rem 0">
                    {{ form.date.label(class = 'form-control-label') }}

                    {% if form.date.errors %}
                    {{ form.date(class = 'form-control is-invalid') }}
                        <div class = 'invalid-feedback'>
                            {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(class = 'form-control') }}
                    {% endif %}
                </div>

                <!-- password -->
                <div class = 'form_group' style="margin: 1.1rem 0">
                    {{ form.password.label(class = 'form-control-label') }}

                    {% if form.password.errors %}
                        {{ form.password(class = 'form-control is-invalid') }}
                        <div class = 'invalid-feedback'>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                    {{ form.password(class = 'form-control') }}

                    {% endif %}
                    

                </div>

                <!-- confirm password  -->
                <div class = 'form_group' style="margin: 1.1rem 0 0 0">
                    {{ form.confirm_password.label(class = 'form-control-label') }}
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class = 'form-control is-invalid') }}
                    <div class = 'invalid-feedback'>
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.confirm_password(class = 'form-control') }}

                {% endif %}
                </div>
            </fieldset>

            <div>
                <div class = 'form_group'>
                    {{ form.submit(class = 'btn btn-outline-info') }}
                </div>

                <div class = 'border-top pt-1' style="text-align: center;">
                    <small class = 'text-muted'>
                        Already have an account? <a class = "ml-2" href = "{{ url_for('login') }}">Sign In</a>
                    </small>
                </div> 
            </div>
            
        </form>
    </div>

{% endblock content%}
